.container {
  margin-left: 25vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0 auto;
    grid-template-columns: 1fr;
    margin-top: 300px;
  }
}
