@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Outfit:wght@100&display=swap");

$primary-font: "Oswald", sans-serif;
$text-font: "Outfit", sans-serif;

$primary-color: #4e97b1;
$background-color: #f5f5f5;
$secondary-color: #002c57;
